* text=auto

# Documentations
*.md    text diff=markdown
LICENSE text

# Git
.gitattributes text export-ignore
.gitignore     text export-ignore
.gitkeep       text export-ignore

# Source codes
*.json      text
*.neon      text
*.neon.dist text
*.php       text diff=php
*.xml       text
*.xml.dist  text
