* text=auto

# Configurations
*.json            text
*.neon            text
*.neon.dist       text
*.xml             text
*.xml.dist        text
*.yaml            text
*.yml             text
phpcs.xml         text export-ignore
phpcs.xml.dist    text export-ignore
phpstan.neon      text export-ignore
phpstan.neon.dist text export-ignore
phpunit.xml       text export-ignore
phpunit.xml.dist  text export-ignore

# Documentations
*.md    text diff=markdown
LICENSE text

# Git
.gitattributes text export-ignore
.gitignore     text export-ignore
.gitkeep       text export-ignore

# GitHub
.github/ export-ignore

# Source codes
*.php text diff=php

# Others
tests/ export-ignore
